<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carregando</title>
</head>
<body onload="Actions('<%= user.token %>', '<%= user.cod_user %>', '<%= user.name_user %>')">
    <h1>Aguarde um momento, estamos preparando tudo para você.</h1>
    <script>
        function Actions(token, id, name) {
            setTimeout(() => {
                // Store
                sessionStorage.setItem("token", token);
                sessionStorage.setItem("cod_user", id);
                sessionStorage.setItem("name_user", name);
                window.location.replace("/"); 
            }, 3000);
        }
        // Retrieve
        //document.getElementById("result").innerHTML = sessionStorage.getItem("lastname"); 
    </script>

</body>
</html>