<%- include('../headlogin'); -%>
  
  <div class="container mt-4">
    <img src="/images/logostacasa.png" alt="Logo_Sta_Casa" class="image_center" width="200px">
    <form action="#" method="post">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Usuário</label>
        <input type="text" class="form-control" name="user" placeholder="Seu Usuário">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <input type="password" class="form-control" name="password" placeholder="Sua senha">
      </div>
      <div class="d-grid mx-auto">
        <button type="submit" class="btn btn-danger mt-2">Entrar</button>
      </div>
    </form>
  </div>

<%- include('../footer'); -%>