<%- include('../headlogin'); -%>

  <% if(typeof(get) != 'undefined' && get == 'false') { %>
    <div class="container">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Usu치rio e/ou senha inv치lida!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  <% } %>
  
  <div class="container mt-4">
    <img src="/images/logostacasa.png" alt="Logo_Sta_Casa" class="image_center" width="200px">
    <form action="/users/tologin" method="POST">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Usu치rio</label>
        <input type="text" class="form-control" name="user" placeholder="Seu Usu치rio">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
        <input type="password" class="form-control" name="password" placeholder="Sua senha">
      </div>
      <div class="d-grid mx-auto">
        <button type="submit" class="btn btn-danger mt-2">Entrar</button>
      </div>
    </form>
  </div>

<%- include('../footer'); -%>