<table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th scope="col" colspan="2" class="text-center">Metas</th>
      <th scope="col" class="text-center">Constatações</th>
      <th scope="col" class="text-center">Evidências Apresentadas</th>
      <th scope="col" class="text-center">Fontes de Evidências</th>
      <th scope="col" class="text-center">Justificativas</th>
      <th scope="col" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center">Metas</th>
      <td class="text-center">230</td>
      <td class="text-center">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="valor">
        </div>
      </td>
      <td class="text-center">@mdo</td>
      <td class="text-center">
        <div class="mb-3">
          <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
      </td>
      <td>
        <div class="mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Launch demo modal
        </button>

        

      </td>
    </tr>                              
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/fileupload" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="">Arquivo</label>
            <input class="form-control" type="file" name="physycfile" id="formFileMultiple" multiple>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>