<table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th scope="col" colspan="2" class="text-center">Metas</th>
      <th scope="col" class="text-center">Constatações</th>
      <th scope="col" class="text-center">Evidências Apresentadas</th>
      <th scope="col" class="text-center">Fontes de Evidências</th>
      <th scope="col" class="text-center">Justificativas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center">Metas</th>
      <td class="text-center">230</td>
      <td class="text-center">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="valor">
        </div>
      </td>
      <td class="text-center">@mdo</td>
      <td class="text-center">
        <div class="mb-3">
          <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
      </td>
      <td>
        <div class="mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </td>
    </tr>
  </tbody>
</table>